/ass0/_ass0.zip
/ass0/_ass0.zip.orig
/ass0/ass0.o
/ass0/ass0.s~
/ass0/ex1
/ass0/main.c~
/ass0/main.o
/ass1.o
/ass1/ass1/.div.py.swp
/ass1.c
/ass1/ass1/ass1.o
/ass1/ass1/ass1.s
/ass1/ass1/calc.c
/ass1/ass1/calc.o
/ass1/ass1/cheat.s
/ass1/ass1/db
/ass1/ass1/db.c
/ass1/ass1/div.py~
/ass1/ass1/ex2
/calc.o
/calc.s
/ex2
/pcasm-book.pdf
/ass1/ass1.bak/ex2
/ass1/ass1.bak/.div.py.swp
/ass1/ass1.bak/ass1.c
/ass1/ass1.bak/ass1.o
/ass1/ass1.bak/ass1.s
/ass1/ass1.bak/calc.c
/ass1/ass1.bak/calc.o
/ass1/ass1.bak/calc.s
/ass1/ass1.bak/cheat.s
/ass1/ass1.bak/db
/ass1/ass1.bak/db.c
/ass1/ass1.bak/div.py
/ass1/ass1.bak/div.py~
/ass1/ass1/calc.l
/ass1/ass1/calc.s.BACKUP.13045.s
/ass1/ass1/calc.s.BASE.13045.s
/ass1/ass1/calc.s.LOCAL.13045.s
/ass1/ass1/calc.s.REMOTE.13045.s
/ass1/ass1/core.11163
/ass1/ass1/core.11284
/ass1/ass1/.calc.s.BASE.13045.s.swp
/ass1/ass1/calc.s.orig
